
# Visual Studio 2015/2017 cache/options directory
.vs
frontend/build
node_modules/

backend/bin
backend/obj
ProResults/ProResults/bin
ProResults/ProResults/obj
ProResults/ProResults/ProResults.csproj.user
node_modules/


